:root {
    --background-color : #f4f4f9;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

*, *::after, *::before {
    box-sizing: border-box;
}

.container {
    background-color: #ffffff;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    /* display: flex; */
    /* flex-direction: column; */
    align-items:center;
    margin-top: 10px;
}

h1 {
    text-align: center;
}

#new-todo {
    width: 450px;
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

#add-btn {
    padding: 10px 20px;
    background-color: #5cabff;
    color: #ffffff;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}
ul {
    list-style: none;
    align-self: flex-start;
    margin: 0;
    padding: 0;
}
li {
    margin-right: 15px;
    border-bottom: 2px solid #ddd;
    padding: 10px;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li:hover {
    background-color: aliceblue;
}

ul :last-child {
    border-bottom: none;
}

.filterButton, .edit-btn, .complete-btn, .delete-btn {
    padding: 10px 20px;
    background-color: #e6d43b;
    color: #000000;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 10px;
}

.edit-btn{
    background-color: #e9803a;
}

.complete-btn{
    background-color: #50c030;
}

.delete-btn{
    background-color: #e94f2d;
}

.filterButton:hover {
    background-color: aliceblue;
}

.completed {
    text-decoration: line-through;
}